---
import SideNav from "../components/SideNav.astro";
import MainContent from "../components/MainContent.astro";
---

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet"
  />
  <style>
    body {
      font-family: "Andika", sans-serif;
    }
    
.scroll-container {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #333; /* For Firefox */
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #333;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #333;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
  </style>
</head>
<div class="from-[#0f172a] bg-gradient-to-r to-[#333] w-[100%] h-[100vh] text-[#fff]">
  <div class="w-[70vw] mx-auto flex justify-between">
    <SideNav />
    <div class="scroll-container h-[100vh] overflow-scroll overflow-x-hidden w-[50%]">
        <MainContent />
    </div>
  </div>
</div>

<script type="module" src="/src/lenis.js"></script>
