---
import Experience from "../components/Experience.astro"
---

<div class="mt-[15vh]">
  <div class="about space-y-6 text-[#ccc] px-4" id="about">
    <p>
      My journey into web development began in high school in 2017 during a
      computer science class where we were introduced to the basics of HTML and
      CSS. I was captivated by how a few lines of code could create visually
      appealing web pages. This initial intrigue drove me to learn more,
      eventually leading me to build a website for my school (a bold move that I
      still look back on with amazement).
    </p>

    <p>
      The experience was so enjoyable that it fueled my desire to delve deeper
      into front-end development. Today, I remain passionate about this field,
      constantly staying updated with the latest frameworks, technologies, and
      libraries. Over the years, I've dedicated myself to delivering
      pixel-perfect, responsive, and dynamic designs for myself, clients and startups.
      I've also learned the importance of writing well-optimized, clean code,
      which has earned me recognition among my peers.
    </p>
    <p>
      When I'm not coding, I enjoy playing, watching, and analyzing football. I
      also indulge in console, video, and mobile games. During tough and
      confusing times, I find relaxation and inspiration in listening to
      motivational podcasts.
    </p>
  </div>

  <div class="experience">
    <Experience data={{
      title: "Web Developer",
      duration: "2022 - PRESENT",
      desc: "This is a simple Test",
      company: "WHEXcosystem (Freelance)",
      tags: ["Next.js", "Tailwind"]
    }} />
  </div>
</div>
