---
import Experience from "../components/Experience.astro";
---

<div class="mt-[15vh]">
  <div class="about space-y-6 text-[#ccc] px-4" id="about">
    <p>
      My journey into web development began in high school in 2017 during a
      computer science class where we were introduced to the basics of HTML and
      CSS. I was captivated by how a few lines of code could create visually
      appealing web pages. This initial intrigue drove me to learn more,
      eventually leading me to build a website for my school (a bold move that I
      still look back on with amazement).
    </p>

    <p>
      The experience was so enjoyable that it fueled my desire to delve deeper
      into front-end development. Today, I remain passionate about this field,
      constantly staying updated with the latest frameworks, technologies, and
      libraries. Over the years, I've dedicated myself to delivering
      pixel-perfect, responsive, and dynamic designs for myself, clients and
      startups. I've also learned the importance of writing well-optimized,
      clean code, which has earned me recognition among my peers.
    </p>
    <p>
      When I'm not coding, I enjoy playing, watching, and analyzing football. I
      also indulge in console, video, and mobile games. During tough and
      confusing times, I find relaxation and inspiration in listening to
      motivational podcasts.
    </p>
  </div>

  <div class="experience pt-20">
    <h2 class="text-[32px] font-semibold">Experience</h2>

    <Experience
      data={{
        title: "Web Developer",
        duration: "Feb. 2022 - Feb. 2024",
        desc: "Collaborated with the design team to improve web UI, achieving a 70% UX enhancement. Maintained the codebase for smooth updates and client issue resolution. Integrated a widget with the Embr team, boosting token sales. Implemented SEO strategies, increasing website visibility and organic traffic.",
        company: "WHEXcosystem (Freelance)",
        tags: ["Next.js", "Tailwind", "JavaScript"],
      }}
    />

    <Experience
      data={{
        title: "Front-end Developer",
        duration: "Feb 2023 - April 2023",
        desc: "Transformed design concepts into polished websites with near pixel-perfection. Ensured compliance with regulatory standards while implementing functional web applications. Conducted thorough testing to identify and address issues, delivering iterative improvements to enhance user experience and meet client requirements.",
        company: "Dexterpro (Contract)",
        tags: ["React.js", "Tailwind", "TypeScript"],
      }}
    />

    <Experience
      data={{
        title: "Front-end Developer",
        duration: "Sept. 2020 - Oct. 2021",
        desc: "Collaborated with designers to develop a responsive, cross-platform website for Luxuriant Flowers Schools, prioritizing user-friendly interfaces. Partnered with backend engineers to integrate API endpoints and develop a robust Student Record Management System, improving record-keeping efficiency by 25%. Conducted regular codebase maintenance, debugging errors, and ensuring timely updates to meet user requirements.",
        company: "Luxuriant Flower Schools",
        tags: ["HTML", "CSS", "JavaScript", "PHP"],
      }}
    />
  </div>
</div>
