---

---

<div class="pt-[15vh] w-[47%] h-screen">
    <h2 class="text-[42px] font-semibold">Ayanfeoluwa Akindele</h2>
    <p class="text-[20px]">Frontend Developer</p>
    <p class="text-[#ccc] w-[60%] pt-3">I build pixel-perfect, well optimized and responsive webapps.</p>

    <div class="space-y-6 mt-10 uppercase w-[50%]">
        <div class="flex items-center cursor-pointer space-x-4">
            <div class="w-[15%] bg-[#fff] h-[1px]"></div>
            <h2 class="text-[15px] font-semibold">About</h2>
        </div>

        <div class="flex items-center cursor-pointer space-x-4">
            <div class="w-[10%] bg-[#808080] h-[1px]"></div>
            <h2 class="text-[14px] text-[#808080]">Experience</h2>
        </div>

        <div class="flex items-center cursor-pointer space-x-4">
            <div class="w-[10%] bg-[#808080] h-[1px]"></div>
            <h2 class="text-[14px] text-[#808080]">Projects</h2>
        </div>
    </div>

    <div class="mt-20 flex space-x-3 items-center">
        <img src="/github.svg" alt="github">
        <img src="/x.png" alt="x" class="w-[35px] h-[35px]">
        <img src="/linkedin.svg" alt="linkedin">
        <img src="/email.svg" alt="email">
        <img src="/phone.svg" alt="phone">
    </div>
</div>